.taxcard-container {
  background-color: #2b2e83;
  color: white;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  border-radius: 1.25rem; /* rounded-2xl */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -4px rgba(0, 0, 0, 0.1); /* shadow-lg */
  text-align: center;
  width: 16rem; /* 64 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.taxcard-title {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600; /* font-semibold */
  margin-bottom: 1rem; /* mb-4 */
}

.taxcard-icon {
  font-size: 3rem; /* text-5xl */
  margin-bottom: 1rem; /* mb-4 */
}

.taxcard-description {
  font-size: 0.875rem; /* text-sm */
  margin-bottom: 1rem; /* mb-4 */
  flex-grow: 1;
}

.taxcard-button {
  background-color: #60a5fa; /* bg-blue-400 */
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border-radius: 0.375rem; /* rounded */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.taxcard-button:hover {
  background-color: #2563eb; /* hover:bg-blue-600 */
}
